/* Large Devices, Wide Screens */ 
@media only screen and (max-width: 1280px) { 
} 
/* Medium Devices, Desktops */ 
@media only screen and (max-width: 992px) { 
    .header__girl {
        opacity: 0.4;
    }
} 
/* Small Devices, Tablets */ 
@media only screen and (max-width: 768px) { 
    body {
        color: grey;
    }

    .header__top {
        flex-direction: column;
    }

    .header__nav .navigation__list {
        justify-content: center;
    }
} 
/* Extra Small Devices, Phones */ 
@media only screen and (max-width: 480px) {

} 
/* Custom, iPhone Retina */ 
@media only screen and (max-width: 320px) { 
}