@import 'libs';
@import 'mixins';
@import 'common';

.wrapper {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.header, .footer {
    flex-shrink: 0;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 15px;
}

@import 'blocks/header';

.section {
    padding: 50px 0;

    &--grey {
        background-color: #F8F6F7;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;
    }

    &__title {
        margin: 0;
    }
}

.services {
    margin-top: -40px;

    & > div {
        margin-top: 40px;
    }
}

.service {
    &__picture {
        height: 150px;
        overflow: hidden;
        border-radius: 8px;
    }

    &__img {
        height: 100%;
        width: auto;
        object-fit: cover;
    }
}

@import 'media';